*{
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    
}
.circle1{

/*  average wala gola */
position: absolute;
width: 230.56px;
height: 230.56px;
left: 159.91px;
top: 522.86px;

border-radius: 1000px;

background: radial-gradient(67.47% 67.47% at 50% 50%, #FED0FF 0%, #7F00FF 100%);

}
.circle2{
    /* bada wala */

position: absolute;
width: 329px;
height: 329px;
left: 656px;
top: 70px;
border-radius: 1000px;
background: radial-gradient(63.62% 63.62% at 50% 50%, #FF00C7 0%, #BD95FF 0.01%, #A661FF 32.29%, #6100FF 98.59%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
.circle3{
    /* sabse chota*/

position: absolute;
width: 138.34px;
height: 138.34px;
left: 275.19px;
top: 76.61px;
border-radius: 1000px;
background: radial-gradient(69.62% 69.62% at 50% 50%, #EA8BFA 0%, #7526F5 100%);

}
.card{
    /* Rectangle 2 */

    position: absolute;
    width: 405.34px;
    height: 521.37px;
    background-color:white; 
    border-radius: 11.1562px;
    /* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 405.34px;
height: 521.37px;
left: 333.2px;
top: 119.74px;

background: linear-gradient(151.53deg, rgba(255, 255, 255, 0.4) 6.01%, rgba(255, 255, 255, 0.1) 92.61%);
box-shadow: 0px 2.975px 17.85px -0.74375px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(11.1562px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 11.1562px;
padding: 18px;
    
}
.photo{
    height: 50%;
    widht: 100%;

}