.hero{
    padding: 0;
    margin: 0;
    position:relative ;
}
.hero-caption .caption-img{
  width: 500px;


}
.banner-img{
  width: 100%;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to right, transparent,black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent,black 75%);  
}
.hero-caption  {
  position:absolute ;  
  width: 100%;
  padding: 6%;
  bottom: 0; 
    
}

.hero-caption p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  max-width: 700px;
  font-size: 20px;
  margin-bottom: 20px;

}

.herobtns{
  display: flex;
  gap:10px;
  margin-bottom: 50px;
}


.herobtns .playButton{
  border:0;
  outline:0;
  padding:8px 20px;
  display:inline-flex;
  align-items: center;
  gap:10px;
  font-size: 15px;
  font-weight: 600;
  background:white;
  border-radius: 4px;
  cursor:pointer;

}

.infobutton{

  border:0;
  outline:0;
  padding:8px 20px;
  display:inline-flex;
  align-items: center;
  gap:10px;
  font-size: 15px;
  font-weight: 600;
  color:#fff;
  background:#6d6d6eb3;
  border-radius: 4px;
  cursor:pointer;


}

.herobtns .playButton:hover{
  background:#ffffffbf ;


}

.herobtns .infobutton:hover{
  background:#ffffffbf ;
  

}


